.front-card {
  height: 12rem;
  width: 9rem;
  flex: 1 1 15%;
  background-size: cover;
  margin: 0 1.75rem 0 1.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  position: relative;
}
.front-card:nth-child(-n + 5) {
  margin-bottom: 3rem;
}
.front-card:last-child {
  width: 15rem;
}
.front-name {
  color: white;
  text-align: center;
  background-color: rgba($color: #1d313f, $alpha: 0.7);
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 1.15rem;
  // position: absolute;
  // bottom: -0.5rem;

}
.front-name button{
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 50%;
  margin-left: 1rem;
}
.know-more {
  color: rgb(255, 152, 0);
  text-align: center;
  font-weight: bold;
  background-color: rgba($color: #1d313f, $alpha: 0.7);
  position: absolute;
  bottom: -0.5rem;
}
