@import './frontCard.scss';
@import './pagination.scss';


.characters{
    display:flex;
    flex-wrap: wrap;
    padding:5rem 5rem 2.5rem 5rem;
}

.pagination ul{
    padding:0 5rem 0 5rem;
}
.pagination p{
    margin: 1rem 12rem;
}
